@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
#ticketContainer::-webkit-scrollbar {
  display: none;
}

#ticketContainer {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@layer components {
  * {
    @apply m-0 p-0 box-border text-base duration-100;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-normal text-black;
  }
  .text {
    @apply text-black dark:text-white;
  }
}
